<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{% block title %}{{ escape(handler.settings["blog_title"]) }}{% end %}</title>
    <link rel="stylesheet" href="/static/blog.css" type="text/css"/>
    <link rel="stylesheet" href="/static/pygments.css" type="text/css"/>
    <link rel="alternate" href="http://feeds.feedburner.com/kkszysiu/blog" type="application/atom+xml" title="{{ escape(handler.settings["blog_title"]) }}"/>
    {% block head %}{% end %}
  </head>
  <body>
    <div id="body">
      <div id="header">
		<div class="menu">
		  {% if current_user and current_user.administrator %}<span><a href="/compose">Nowy wpis</a></span>{% end %}
		  <span><a href="http://feeds.feedburner.com/kkszysiu/blog">Atom</a></span>
		  <span><a href="/archive">Archiwum</a></span>
		  <span><a href="/about">O mnie</a></span>
		</div>
		<div class="title"><a href="/">Krzysztof Klinikowski</a> - Code is poetry…</div>
      </div>
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
    {% if not handler.settings.get("debug") %}
      <script type="text/javascript">
	document.write(unescape("%3Cscript src='" + ((document.location.protocol == "https:") ? "https://ssl." : "http://www.") + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      //<![CDATA[

	try {
	  var pageTracker = _gat._getTracker("UA-10562024-2");
	  pageTracker._trackPageview();
	} catch(e) {}

      //]]>
      </script>
    {% end %}
  </body>
</html>
